<%- include header %>

<div class="title">
    医院大型检查接口</div>

<input type="hidden" value='<% if(dataStr){%> <%= dataStr %><%} %>' name='dataStr'>
<table class="table">
    <tr>
        <% header.forEach(function(head){ %>
            <th><%= head %></th>
        <% }) %>
    </tr>

    <% data.forEach(function(dat){ %>
        <tr>
            <% dat.forEach(function(da){ %>
            <td>
                <%= da %>
            </td>
            <% }) %>
        </tr>
    <% }) %>
</table>
<div class="row">
    <div class="span1 label">&nbsp;</div>
    <div class="span3">
        <input type="submit" value="批量上传" class="button-normal J_BatchUpload">
    </div>
    <div class="span3">
        <input type="submit" value="返回" class="button-normal J_Return">
    </div>
</div>
<script>
seajs.use("page/indexExamList", function(Page) {
    var page = new Page();
})
</script>
<%- include footer %>
