<%- include header %>
<div class="title">
    高值耗材前十名接口</div>
<table class="table">
    <tr>
        <th>
            <input type="checkbox" class='J_CheckAll'>全选
        </th>
        <th>耗材名称</th>
        <th>耗材编号</th>
        <th>规格</th>
        <th>厂家</th>
        <th>金额</th>
        <th>数量</th>
        <th>科室</th>
        <th>主任</th>
        <th>所属年月</th>
    </tr>
    <% data.forEach(function(material){ %>
        <tr>
            <td>
                <input type="checkbox" class='J_CheckBox' value='<%= material.id %>'>
            </td>
            <td>
                <%= material.mat_name %>
            </td>
            <td>
                <%= material.mat_code %>
            </td>
            <td>
                <%= material.specs %>
            </td>
            <td>
                <%= material.company %>
            </td>
            <td>
                <%= material.amount %>
            </td>
            <td>
                <%= material.num %>
            </td>
            <td>
                <%= material.dept %>
            </td>
            <td>
                <%= material.doctor %>
            </td>
            <td>
                <%= material.form_date %>
            </td>
            <td>
                <input type="button" class='tb-button J_Upload' value="上传">
            </td>
        </tr>
        <% }) %>
</table>
<div class="row">
    <div class="span1 label">&nbsp;</div>
    <div class="span3">
        <input type="submit" value="手动上传" class="button-normal J_ManualUpload">
    </div>
    <div class="span3">
        <input type="submit" value="批量上传" class="button-normal J_BatchUpload">
    </div>
</div>
<script>
seajs.use("page/materialList", function(Page) {
    var page = new Page();
})
</script>
<%- include footer %>
