<%- include header %>
<div class="title">
    医院满意度接口</div>
<table class="table">
    <tr>
        <th>
            <input type="checkbox" class='J_CheckAll'>全选
        </th>
        <th>患者就诊号</th>
        <th>是否满意</th>
        <th>满意环节</th>
        <th>就诊时间</th>
        <th>填写时间</th>
        <th>操作</th>
    </tr>
    <% data.forEach(function(satisfaction){ %>
        <tr>
            <td>
                <input type="checkbox" class='J_CheckBox' value='<%= satisfaction.id %>'>
            </td>
            <td>
                <%= satisfaction.patient_code %>
            </td>
            <td>
                <%= satisfaction.satisfaction %>
            </td>
            <td>
                <%= satisfaction.satisfaction_content %>
            </td>
            <td>
                <%= satisfaction.visit_date_time %>
            </td>
            <td>
                <%= satisfaction.record_date_time %>
            </td>
            <td>
                <input type="button" class='tb-button J_Upload' value="上传">
            </td>
        </tr>
        <% }) %>
</table>
<div class="row">
    <div class="span1 label">&nbsp;</div>
    <div class="span3">
        <input type="submit" value="手动上传" class="button-normal J_ManualUpload">
    </div>
    <div class="span3">
        <input type="submit" value="批量上传" class="button-normal J_BatchUpload">
    </div>
</div>
<script>
seajs.use("page/satisfactionList", function(Page) {
    var page = new Page();
})
</script>
<%- include footer %>
